*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lora", serif;
  font-size: 16px;
  color: #2B2B2B;
  background-color: #FAF9F6;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: #556B2F;
}

ul {
  list-style: none;
}

header, section, nav, footer {
  max-width: 1200px;
}

header {
  background: url(/images/reading-4330761_1920.jpg);
  background-color: rgba(0, 0, 0, 0.08);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100vh;
}
header nav {
  display: flex;
  padding: 0.75rem;
  justify-content: space-between;
  align-items: center;
}
header nav ul {
  display: none;
  gap: 1rem;
}
header nav button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
header nav button ion-icon {
  font-size: 24px;
  font-weight: bolder;
}
header #section_hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem;
  text-align: center;
}
header #section_hero h2 {
  font-size: 32px;
  font-family: "Playfair Display", serif;
}
header #section_hero p {
  max-width: 700px;
}
header #section_hero a {
  background-color: #C9A227;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
}
header #section_hero a:hover {
  background-color: #556B2F;
  color: #FAF9F6;
}

#section_release {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 5rem;
  text-align: center;
}
#section_release .section_release_text-container h2 {
  margin-bottom: 1.5rem;
  border-bottom: #C9A227 solid 1px;
  display: inline;
  padding: 0 5px;
}
#section_release .section_release_text-container p {
  padding: 1rem;
}
#section_release .section_release_books-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
#section_release .section_release_books-container .release_books-container_div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}
#section_release .section_release_books-container .release_books-container_div img {
  height: 200px;
  width: 150px;
}
#section_release .section_release_books-container .release_books-container_div .release_books-container_title, #section_release .section_release_books-container .release_books-container_div .release_books-container_price {
  align-self: center;
}
#section_release .section_release_books-container .card {
  border: 1px solid #DDD3C2;
  border-radius: 16px;
  padding: 1.5rem;
  width: 200px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

#section_motivational {
  background: url(/images/old-books-436498_1920.jpg);
  height: 150px;
  color: #FAF9F6;
  display: flex;
  justify-content: center;
  align-items: center;
}
#section_motivational p {
  padding: 1rem;
}

#section_best-selling-books {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  padding: 5rem;
}
#section_best-selling-books .section_text-container, #section_best-selling-books .section_best-selling-books_container, #section_best-selling-books .card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}
#section_best-selling-books .section_text-container h2 {
  align-self: center;
  padding: 5px 5px;
  border-bottom: 1px solid #C9A227;
}
#section_best-selling-books .section_text-container p {
  max-width: 800px;
}
#section_best-selling-books .section_best-selling-books_container {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
#section_best-selling-books .section_best-selling-books_container .card {
  border: 1px solid #DDD3C2;
  border-radius: 16px;
  padding: 1.5rem;
  width: 200px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}
#section_best-selling-books .section_best-selling-books_container .card img {
  height: 200px;
  width: 150px;
}

#section_flash-sale-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  padding: 5rem;
  margin: 1rem;
  background-color: #DDD3C2;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}
#section_flash-sale-section h2 {
  align-self: center;
  border-bottom: 1px solid #C9A227;
  padding: 0 5px;
}
#section_flash-sale-section p {
  max-width: 700px;
}
#section_flash-sale-section .section_flash-sale-section_container {
  display: flex;
  gap: 0.75rem;
}
#section_flash-sale-section .section_flash-sale-section_container .timer-card {
  background-color: #556B2F;
  border: 1px solid;
  color: #C9A227;
  padding: 10px;
}
#section_flash-sale-section .section_flash-sale-section_container .timer-card span {
  font-size: 14px;
}
#section_flash-sale-section .carousel {
  width: 80%;
  max-width: 700px;
  overflow: hidden;
}
#section_flash-sale-section .carousel .carousel-container {
  display: flex;
  gap: 2rem;
  justify-content: center;
}
#section_flash-sale-section .carousel .carousel-container .carousel-slides {
  display: flex;
  gap: 1.5rem;
  border: 1px solid #DDD3C2;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  padding: 20px;
  align-items: center;
  width: 500px;
}
#section_flash-sale-section .carousel .carousel-container .carousel-slides img {
  height: 200px;
  width: 150px;
}
#section_flash-sale-section .carousel .carousel-container .carousel-slides .carousel-slides_text {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  text-align: start;
}

/*# sourceMappingURL=output.css.map */
