@use 'variables' as *;

/* =====================
   Footer
========================= */
.footer {
    background: white;
    padding: $space-6 0 $space-3;
    border-top: 1px solid $color-border;

    &__grid {
        display: grid;
        gap: $space-5;
        margin-bottom: $space-5;
        
        @media (min-width: $break-md) {
            grid-template-columns: 2fr 1fr 1fr 1fr;
        }
    }

    &__brand {
        .header__title { margin-bottom: $space-2; display: block;}
    }

    &__contact-info {
        display: flex;
        flex-direction: column;
        gap: $space-3;
        margin-top: $space-3;
    }

    &__item {
        display: flex;
        gap: $space-2;
        color: $color-muted;
        font-size: 0.9rem;
    }

    &__socials {
        display: flex;
        gap: $space-2;
        font-size: 1.2rem;
        margin-top: $space-2;
    }

    &__col {
        h4 { margin-bottom: $space-3; }
        ul { display: flex; flex-direction: column; gap: $space-1; }
        a { color: $color-muted; font-size: 0.9rem; &:hover { color: $color-primary; } }
    }

    &__bottom {
        text-align: center;
        font-size: 0.875rem;
        color: $color-muted;
    }
}